<div class="edit-visual">
	<section>
		<h2 class="index-headline">Editing Book</h2>
	</section>

	<%= form_for(@book) do |f| %>
		<% if @book.errors.any? %>
 			<div class="alert">
 				<p class="alert-text"><strong><%= @book.errors.count %>errors prohibited this book from being saved:<strong></p>
  				<ul>
    				<% @book.errors.full_messages.each do |message| %>
    		    	<li class="alert-messages"><%= message %></li>
    				<% end %>
   				</ul>
			</div>
		<% end %>
		<%= f.label :title, 'Title', class:"form-item" %>
		<%= f.text_field :title, class:"item-box" %>
		<%= f.label :body, 'Body', class:"form-item" %>
		<%= f.text_area :body, class:"item-box" %>
		<%= f.submit 'Update Book', class:"submit" %>
	<% end %>
	<%= link_to 'Show', book_path(@book.id), class:"btn" %>
	|
	<%= link_to 'Back', books_path, class:"btn" %>
</div>