<div class="edit-visual">
	<section>
		<h2 class="index-headline">Editing Book</h2>
	</section>

	<%= form_for(@book) do |f| %>
		<%= f.label :title, 'Title', class:"form-item" %>
		<%= f.text_field :title, class:"item-box" %>
		<%= f.label :body, 'Body', class:"form-item" %>
		<%= f.text_area :body, class:"item-box" %>
		<%= f.submit 'Update book', class:"submit" %>
	<% end %>
	<%= link_to 'Show', book_path(@book.id), class:"btn" %>
	|
	<%= link_to 'Back', books_path, class:"btn" %>
</div>